/*  -------------------
Header Banner style
-------------------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}
.container{
    display: flex;
    justify-content: center;
    margin: 50px 0 130px;
}
.top-banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    Width:1320px;
    Height:645px;
    border-radius: 30px;
    background-color: #161616;
    color: #FFFFFF;
}
/*  -------------------
    Left Banner
    -------------------  */
.left-banner{
    padding: 111px 24px 111px 106px;
    width: 531px;
    height: 424px;
}
.left-banner h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin: 0;
}
.left-banner p{
    font-weight: 400;
    font-size: 16px;
    padding: 25px 25px 25px 0;

}
.left-banner button{
    text-decoration: none;
    color: #FFFFFF;
    padding: 16px 25px;
    margin: 0;
    background-color: #DD0000;
    border-radius: 5px;
}
.fa-chromecast{
    font-size: 20px;
    padding-left: 5px;
}
/*  -------------------
    Right Banner
    -------------------  */
.right-banner img{
    width: 581px;
    height: 613px;
    padding: 33px 78px 0 0;
}
/*  -------------------
    Main section style
    -------------------  */
.main-section{
    display: flex;
    Width: 1320px;
}
/*  --------------------
    Nav style
    --------------------  */
.nav-menu {
    background-color: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
}
.nav-title {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 17px;
    margin: 30px;
    color: #161616;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.selected{
    background-color: #DD0000;
    color: #FFFFFF;
}
/*  -------------------
    Match Schedule section 
    -------------------  */
.match-schedule{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    width: 1008px;
    justify-items: end;
}
.card{
    width: 252px;
    padding: 52px 30px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.card-flag{
display: grid;
grid-template-columns: 1fr 50px 1fr;
padding-bottom: 20px;
margin: 0;
}
.card-flag{
    padding: 0;
    margin: 0;
}
.card-flag strong{
text-align: center;
padding: 15px 0;
font-weight: 700;
font-size: 20px;
color: #161616;
}
.card-title h1{
font-weight: 600;
font-size: 20px;
color: #161616;
text-align: center;
padding: 0;
margin: 0;
}
.card-title h3{
font-weight: 400;
font-size: 16px;
color: #4D4D4D;
text-align: center;
}
/*  -------------------
Footer Section
    -------------------  */
footer{
    height: 600px;
    background-color: #161616;
    color: #FFFFFF;
}
footer h1{
    text-align: center;
    padding-top: 130px;
    font-weight: 600;
    font-size: 40px;
}
hr{
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-nav{
    color: #B9B9B9;
    column-gap: 50px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}
.social{
    font-size: 50px;
}
.fa-facebook-square, .fa-linkedin, .fa-instagram-square{
    margin:0 30px;
    color: #B9B9B9;
}

/*---------------------
     Media Queries
----------------------- */
@media only screen and (max-width: 688px){
    /*  -------------------
small screen
-------------------  */

    .top-banner{
        width: 95%;
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .left-banner{
        padding: 3em;
        width: 90%;
        
    }
    .left-banner h1{
        font-weight: 600;
        font-size: 4em;
        line-height: 80px;
        margin: 0;
    }
    .left-banner p{
        font-weight: 400;
        font-size: 1em;
        
    
    }
    .left-banner button{
        text-decoration: none;
        color: #FFFFFF;
        padding: 16px 25px;
        margin: 0;
        background-color: #DD0000;
        border-radius: 5px;
    }
    .right-banner img{
        width: 80%;
        padding: 3em 3em 0;
        margin-top: 2em;
    }


    /*  -------------------
main Media Queries
-------------------  */
.main-section{
    display: flex;
    Width: 95%;
    grid-template-columns: repeat(1, 1fr);
     flex-direction: column;
}
/*  --------------------
    Nav style
    --------------------  */
.nav-menu {
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}
.nav-title {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    color: #161616;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
}

.selected{
    background-color: #DD0000;
    color: #FFFFFF;
}
.match-schedule{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 24px;
    flex-direction: column;
    width: 100%;
    justify-items: center;
}

/* footer */
footer{
    height: 100%;
   flex-direction: column;
}

hr{
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
footer h1{
    text-align: center;
    
    font-weight: 600;
    font-size: 40px;
}
.footer-nav{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center
}

}

@media only screen and (min-width:689px) and (max-width:992px){
     /*  -------------------
medium screen
-------------------  */ 
.top-banner{
    width: 95%;
    display: flex;
    justify-content: center;
}


.left-banner{
    padding: 3em;
    width: 90%;
    
}
.left-banner h1{
    font-weight: 600;
    font-size: 3em;
    line-height: 80px;
    margin: 0;
}
.left-banner p{
    font-weight: 400;
    font-size: 1em;
    

}
.left-banner button{
    text-decoration: none;
    color: #FFFFFF;
    padding: 16px 25px;
    margin: 0;
    background-color: #DD0000;
    border-radius: 5px;
}
.right-banner img{
    width: 90%;
    padding: 0;
    margin-top: 30px;
    
}

.main-section{
    display: flex;
    Width: 95%;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
}
/*  --------------------
    Nav style
    --------------------  */
.nav-menu {
 width: 95%;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}
.nav-title {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    color: #161616;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
}

.selected{
    background-color: #DD0000;
    color: #FFFFFF;

}
.match-schedule{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    width: 95%;
    justify-items: end;
}
.footer-nav{
    column-gap: 10px;

}
}